[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ics = "*"
requests = "*"
beautifulsoup4 = "*"
flask = "*"
flask-apscheduler = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
