<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Games tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
</head>
<body>
<div id="calendar-form-wrapper">
    <form id="calendar-form">
        <h2>Platform</h2>
        <div id="calendar-platform-inputs">
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="ps4" checked/>
                <div class="state p-primary">
                    <label>PS4</label>
                </div>
            </div>
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="ps5" checked/>
                <div class="state p-primary">
                    <label>PS5</label>
                </div>
            </div>
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="switch" checked/>
                <div class="state p-primary">
                    <label>Nintendo Switch</label>
                </div>
            </div>
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="switch_2" checked/>
                <div class="state p-primary">
                    <label>Nintendo Switch 2</label>
                </div>
            </div>
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="xbox_one" checked/>
                <div class="state p-primary">
                    <label>Xbox One</label>
                </div>
            </div>
            <div class="pretty p-default">
                <input type="checkbox" name="platform" value="xbox_series" checked/>
                <div class="state p-primary">
                    <label>Xbox Series X & S</label>
                </div>
            </div>
        </div>

        <h2>Region</h2>
        <div class="pretty p-default p-round">
            <input type="radio" name="region" value="pal" checked/>
            <div class="state p-primary">
                <label>PAL (Europe and Australasia)</label>
            </div>
        </div>
        <div class="pretty p-default p-round">
            <input type="radio" name="region" value="na"/>
            <div class="state p-primary">
                <label>NA (North America)</label>
            </div>
        </div>
        <div class="pretty p-default p-round">
            <input type="radio" name="region" value="jp"/>
            <div class="state p-primary">
                <label>JP (Japan)</label>
            </div>
        </div>

        <h2>Calendar URL</h2>
        <div class="is-flex">
            <input type="text" id="calendar-link" value="" readonly>
            <button type="button" id="copy-btn" data-clipboard-target="#calendar-link" disabled>
                <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512' width="22" height="22">
                    <title>Copy</title>
                    <rect x='128' y='128' width='336' height='336' rx='57' ry='57' fill='none' stroke='currentColor'
                          stroke-linejoin='round' stroke-width='32'></rect>
                    <path d='M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24'
                          fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'
                          stroke-width='32'></path>
                </svg>
            </button>
        </div>
    </form>
</div>
<a id="sourcecode-link" href="https://github.com/r-salas/ical-videogames">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
    </svg>
    <span>Source Code</span>
</a>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
